{% extends "_global/index.html" %}

{% block main %}
    <ul>   
            <li class="row product">
                {% for product in productsInCategory %}
                    <div class="card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center">
                        <a href="{{ BASE }}product/{{ product.product_id }}">
                            <img src="{{ BASE }}{{ product.image }}"  alt="Slika proizvoda {{product.product_id}}" class="card-img-top width-100">
                        </a>
                        <div class="card-body row">
                            <a href="{{ BASE }}product/{{ product.product_id }}" class="card-title col-md-12">
                                {{ product.title|escape }}
                            </a>
                            <span class="card-text col-md-12 price">{{ product.price|escape }} RSD</span>
                            <a href="#" class="btn btn-primary col-md-12" onclick="addCart({{ product.product_id }});"></i>Dodaj u korpu &nbsp;<i class="fa fa-opencart"></i></a> 
                        </div>
                    </div>
                {% endfor %}
            </li>   
    </ul>
{% endblock %}

{% block naslov %}
{{ category.name|escape }}
{% endblock %}