{% extends "/_global/index.html" %}

{% block main %}
<div>
    <form class="Buy-form" method="POST">
        <div>
            <label class="buy-customer_first_name-label" for="customer_first_name">First name: </label>
            <input class="buy-customer_first_name-input" type="text" id="customer_first_name" name="customer_first_name" required>
            <br>
            <label class="buy-customer_last_name-label" for="customer_last_name">Last name: </label>
            <input class="buy-customer_last_name-input" type="text" id="customer_last_name" name="customer_last_name" required>
            <br>
            <label class="buy-customer_email-label" for="customer_email">Email: </label>
            <input class="buy-customer_email-input" type="email" id="customer_email" name="customer_email" required>
            <br>
            <label class="buy-customer_address-label" for="customer_address">Address: </label>
            <input class="buy-customer_address-input" type="text" id="customer_address" name="customer_address" required> 
        </div>
        <div>
            <button class="buy-button" type="submit">Buy products</button>
        </div>
    </form>
</div>
{% endblock %}