{% extends "/_global/index.html" %}

{% block main %}
    <div class="product-view">
        <img src="{{ BASE }}{{ product.image }}" alt="Slika proizvoda {{product.product_id}}" class="img-view">
        <h1 class="title-view">{{ product.title|escape }}</h1>
        <p class="desc-view">{{ product.description }}</p>
        <p class="prive-view">Cena: {{ product.price }} RSD</p>
        <button class="button-view" href="#" onclick="addCart({{ product.product_id }});">Dodaj u korpu</button>
    </div>
{% endblock %}

{% block naslov %}
{{ category.name|escape }}
{% endblock %}