{% extends "_global/index.html" %}

{% block main %}

<div class="row">
    <form class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3" action="{{ BASE }}admin/login" method="POST">
        <div class="card">
            <div class="card-header">
                Logovanje
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="login-input_username-label" for="input_username">Username:</label>
                    <input class="form-control" type="text" id="input_username" name="login_username" required placeholder="Unsite svoje korisničko ime.">
                </div>
                <div class="form-group">
                    <label class="login-input_password-label" for="input_password">Password:</label>
                    <input class="form-control" type="password" id="input_password" name="login_password" required placeholder="Unsite svoju lozinku.">
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit">
                    Log in
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}