{% extends "/_global/index.html" %}

{% block main %}
{% spaceless %}
    <div id="carouselExampleIndicators" class="slider carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100" src="{{BASE}}assets/img/slider-1.png" alt="First slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="{{BASE}}assets/img/slider-2.png" alt="Second slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="{{BASE}}assets/img/slider-3.png" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <hr>
    <div class="row">
        {% for category in categories %}
        <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 text-center category">
            <div class="card-body">
                <a href="{{ BASE }}category/{{ category.category_id }}" class="card-title">
                    {{ category.name|escape }}
                    <img class="width-100" alt="{{ category.name }}" src="{{ category.image }}">
                </a>
            </div>
        </div>
            
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock %}