{% extends "/_global/index.html" %}

{% block main %}
{% spaceless %}
    <div>
        Uspesno ste izlogovani!
        <br>
        Vratite se na <a href="{{ BASE }}">Početnu stranicu</a>.
    </div>
{% endspaceless %}
{% endblock %}