.main-menu {
    margin-bottom: 20px;
}

body, html {
    height: 100%;
  }
.bg {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/abstract-grey-tech-geometric-motion-background-video-corporate-animation-ultra-hd-4k-3840x2160_b4-2cnvd__F0000.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.social-icons { 
    margin-bottom: 10px; 
}

.social-icons a i.fa {
    color: white;
    font-size: 50px;
    display: inline-block;
    margin: 5px;
}

.category {
    padding: 50px 0px;
}

.cart-card {
    margin: 10px 0;
}

.width-100 {
    width: 100%;
}

.price {
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider {
    margin: 20px 0;
}

.edt {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}
