<!doctype html>
<html>
    <head>
        <title>Projekat - {% block naslov %}Pocetna{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
    <body>
        <div class="bg">
        <div class="container">
            <header>
                <div class="row">
                    <div class="col col-sm">
                        <a href="{{ BASE }}">
                            <img scr="{{ BASE }}assets/img/banner-1.jpg" alt="Banner 1">
                        </a>
                    </div>
                    <div class="col col-sm">
                        <div class="social-icons text-right">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook-official"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>

                        <div class="search-box">
                            <form method="POST" action="{{ BASE }}search">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="q" class="form-control" placeholder="Pretraga">
                                        <button type="submit" class="btn btn-success input-group-append"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{{ BASE }}"><i class="fa fa-home"></i> Pocetna</a>
                        <a class="nav-item nav-link" href="{{ BASE }}categories"><i class="fa fa-bars"></i> Kategorije</a>
                        <a class="nav-item nav-link" href="{{ BASE }}admin-panel"><i class="fa fa-wrench"></i> Admin panel</a>
                        <a class="nav-item nav-link" href="{{ BASE }}contact"><i class="fa fa-phone"></i> Kontakt</a>
                        <a class="nav-item nav-link" href="{{ BASE }}log-out"><i class="fa fa-sign-out"></i> Odjava</a>
                        </div>
                    </div>
                </nav>
                
            </header>
            <main>
                <div class="row">
                    <div class="col-md-10">
                        {% block main %}
                        {% endblock %}
                    </div>
                    <div class="col-md-2">
                        <div class="card cart-card">
                            <div class="items card-body">
                            </div>
                            <button onclick="clearItems()">Obrisi sve</button>
                            <button onclick="checkout()">Checkout</button>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="site-footer">
                &copy; 2018 - Web aplikacija za tehnicke uredjaje
            </footer>
        </div>

        <script>
            const BASE = '{{ BASE }}';
            function checkout(){
                window.location.href = '{{ BASE }}checkout';
            }
           
        </script>
        <script src="{{BASE}}assets/js/cart.js"></script>
        <script src="{{BASE}}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{{BASE}}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
