{% extends "/_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <button class="btn btn-success" onclick="location.href='{{ BASE }}admin/products'"><i class="fa fa-list"></i>&nbspList all products</button>
        <button class="btn btn-success" onclick="location.href='{{ BASE }}admin/products/add'"><i class="fa fa-plus"></i>&nbspAdd new product</button>
    </div>

    <form class="product-form" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title: </label>
            <input class="form-control" type="text" id="title" name="title" value="{{ product.title|escape }}" required>
            
        </div>
        <div class="form-group">
            <label for="description">Description: </label>
            <textarea class="form-control" id="description" name="description" rows="10" required>{{ product.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="image">Image: </label>
            <input class="form-control" type="file" id="image" name="image" accept="image/png">
        </div>
        <div class="form-group">
            <label for="price">Price: </label>
            <input class="form-control" type="number" id="price" name="price" min="0.01" step="0.01" value="{{ product.price }}" required> 
        </div>

        <div class="form-group">
            <button class="btn btn-success" type="submit"><i class="fa fa-edit"></i>Edit product</button>
        </div>
        
    </form>
</div>
{% endblock %}