{% extends "/_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <button class="btn btn-success" onclick="location.href='{{ BASE }}admin/products/add'"><i class="fa fa-plus"></i>&nbsp Add new product</button>
    </div>
<hr>
    <div class="products row">
        <ul>
            {% for product in products %}
            <div class="card edt">
                <li>
                    <i class="fa fa-edit"></i><a href="{{ BASE }}admin/products/edit/{{ product.product_id }}">
                        {{ product.title|escape }}
                    </a>
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}